*{
	margin: 0;
	padding: 0;
	list-style: none;
	margin: 0 auto ;
}
a{
	text-decoration: none;
}
.sing-top{
	width: 1130px;
}
.top{
	 width: 200px;
     height: 98px;
     float: left;
	
}
.top a{
	display: block;
	height: 98px;
	width: 200px;
}
.sing-ment{
	  width: 100%;
      
}

.ment a {
	display: block;
	
    height: 655px;
    background: url(../img/beijimh.jpg) -390px 100px no-repeat;      
}
.mant a img{
	width: 100%;
	height: 100%;
}
.ment-box{
	width: 1130px;
	height: 634px;
	margin-top:-535px;
}
.ment-ringht{
	margin-top:20px;
	float: right;
	width: 410px;
	height: 477px;
	background: white;
}
.ment-top{
	margin-top: 20px;
	text-align: center;
	font-size: 24px;
	
}
.ment-a{
	padding-right: 40px;	
	border-right: 1px solid #ddd;
	text-decoration: none;
	color: seagreen;	
}
.ment-top a{
	margin-left: 20px;
	margin-right: 15px;
	text-decoration: none;
	color: seagreen;
	font-size: 18px;
}
.ment-ringht a:hover{
	color: #f56600;
}
.ment-but{
	/*display: none;*/
	margin: 0 auto;
	margin-top: 40px;
	height: 255px;
}
.ment-but1,.ment-but2{
	width: 348px;
	background: white;
}
.ment-but1 input,.ment-but2 input{
	border: 1px solid #e0e0e0;
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
}
.ment-but1 input:focus{
       outline: none;
}
/*.ment-but2{
	margin-top: 20px;
	width: 348px;
	height: 50px;
	border: 1px solid #e0e0e0;
	background: white;
}
.ment-but2 input{
	width: 306px;
	margin-left: 20px;
	margin-top: 17px;
	border-style: none;
}*/
.ment-but2 input:focus{
       outline: none;
}
.ment-but3{
	margin-top: 20px;
	width: 350px;
	height: 50px;
	background: white;
}
.ment-but3 input{
	width: 350px;
	background-color: #ff6700;
	height: 50px;
	line-height: 50px;
	display: block;
	margin-bottom: 14px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border-style: none;
	cursor: pointer;
}
.ment-but4{
	margin-top: 38px;
	width: 350px;
	height: 50px;
	background: ;
}
.ment-but4 a{
	text-decoration: none;
	color:#ff6700 ;
	font-size: 14px;
	margin-left: -1px;
}
.but4-ringt{
	float: right;
	font-size: 14px;
	margin-top: -47px;
	margin-right: 15px;
}
.but4-ringt span{
	margin-left: -15px;
    margin-right: -15px;
}
.but4-ringt a{
	color: #999;
	margin: 0 17px;
}
.ment-ringht fieldset{
	border-top: 1px solid #e0e0e0;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	text-align: center;
}
.ment-ringht fieldset legend{
	font-size: 14px;
	color:#e0e0e0 ;
	margin-left: 160px;
	text-align: center;
}
.sing-think{
	widows: 348px;
	margin-top: 8px;
	margin-left: 100px;
	}
.icon {
  width: 30px;
  height: 30px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  margin-right: 20px;
}
.icon a{
	display: block;
	width: 30px;
	height: 30px;
	margin-left: 50px;
}
.ment-sao{
	display: none;
	width: 410px;
	margin: 0 auto;
	text-align: center;
}
.ment-sao img{
	margin-top: 90px;
}
.ment-sao p span{
	color: #ff6700;
}
.sing-botton{
	
	height: 19px;
	margin: 0 auto;
	text-align: center;
}
.sing-botton ul{
	height: 19px;
	list-style: none;
	margin-left: 800px;
}
.sing-botton ul li{
	float: left;
	
	margin-right: 10px;
}
.sing-botton ul li a{
	text-decoration: none;
	font-size: 14px;
	color: #757575;
	margin-right: 10px;
}
.botton-p{
	display: inline;
	margin-left: -460px;
	font-size: 14px;
	color:#757575 ;
}
.botton-p a{
	text-decoration: none;
	color: #757575;
}
.ment-ringht .ment-top .active{
	color: red;
}
.error-p{
	color: red;
	margin-top: -20px;
	line-height: 30px;
	font-size: 14px;
}
